{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Muay Thai</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus sequi quis odio omnis dolores doloremque fugiat expedita, eos repellendus vel consequuntur, molestias ratione. Quam blanditiis ipsum quae ut, nostrum eum?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/muay_thai1.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}    